.content {
    /* background-color: #0B1D26; */
    background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, rgba(11, 29, 38, 0.5) 2%, #0B1D26 5%);
    position: relative;
    z-index: 2;
}

.content__container {
    padding-left: 150px;
    padding-right: 150px;
}

/* .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 100%);
    pointer-events: none;
} */

.article__thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-bottom: 150px;
}

.article__thumb:nth-child(2n) {
    flex-direction: row-reverse;
}

.article__number {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    font-weight: 700;
    line-height: 100%;
    opacity: 0.2;
    top: -25%;
    left: 2%;
}

.article__thumb--content {
    position: relative;
}

.article__title {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 600;
    width: 400px;
    margin-bottom: 30px;
}

.article__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 177.778%;
    width: 500px;
    margin-bottom: 30px;
}

.article__link {
    color: #FBD784;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.article__link__icon {
    width: 16px;
    height: 24px;
    transform: rotate(-90deg);
    fill: #FBD784;
    margin-left: 16px;
}

.article__img {
    max-width: 450px;
}

/* ========== Front Clouds =================== */
.images-parallax__front-clouds-01 {
    background: url("../../img/front-clouds/7.png") top / cover no-repeat;
    top: 60%;
    left: -30%;
    z-index: 3;
}

.images-parallax__front-clouds-02 {
    background: url("../../img/front-clouds/8.png") top / contain no-repeat;
    top: 90%;
    left: 0;
    z-index: 3;

    position: absolute;
    -webkit-animation: clouds 80s ease infinite;
    animation: clouds 80s ease infinite;
    z-index: 100;
}