<footer class="footer">
  <div class="container">
    <div class="footer__logo-thumb">
      <a href="#" class="header__logo">MNTN</a>
      <p class="footer__logo-thumb__text">
        Get out there & discover your next slope, mountain & destination!
      </p>
      <p class="footer__logo-thumb__copyright">
        Copyright 2019 MNTN, Inc. Terms & Privacy
      </p>
    </div>
    <div class="footer__links-container">
      <div class="footer__blog-thumb">
        <h3 class="footer__title">More on The Blog</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__blog-thumb__list-item-link"
              >About MNTN</a
            >
          </li>
          <li class="footer__item">
            <a href="#" class="footer__blog-thumb__list-item-link"
              >Contributors & Writers</a
            >
          </li>
          <li class="footer__item">
            <a href="#" class="footer__blog-thumb__list-item-link"
              >Write For Us</a
            >
          </li>
          <li class="footer__item">
            <a href="#" class="footer__blog-thumb__list-item-link"
              >Contact Us</a
            >
          </li>
          <li class="footer__item">
            <a href="#" class="footer__blog-thumb__list-item-link"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__mntn-thumb">
        <h3 class="footer__title">More on MNTN</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__mntn-thumb__list-item-link">The Team</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__mntn-thumb__list-item-link">Jobs</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__mntn-thumb__list-item-link">Press</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
