<header class="header">
  <div class="container">
    <a href="#" class="header__logo">MNTN</a>
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="#equipment" class="header__nav-link">Equipment</a>
      </li>
      <li class="header__nav-item">
        <a href="#about-us" class="header__nav-link">About us</a>
      </li>
      <li class="header__nav-item">
        <a href="#blog" class="header__nav-link">Blog</a>
      </li>
    </ul>
    <button type="button" class="header__button">
      <svg class="header__button-icon">
        <use href="./img/icons/symbol-defs.svg#icon-account"></use>
      </svg>
      Account
    </button>
  </div>
</header>
