<div class="progress-bar">
  <ul class="progress-bar__list">
    <li class="progress-bar__item">
      <a href="#hero" class="progress-bar__link active">Start</a>
    </li>
    <li class="progress-bar__item">
      <a href="#about-us" class="progress-bar__link">01</a>
    </li>
    <li class="progress-bar__item">
      <a href="#equipment" class="progress-bar__link">02</a>
    </li>
    <li class="progress-bar__item">
      <a href="#blog" class="progress-bar__link">03</a>
    </li>
  </ul>
</div>
<!-- Hero -->
<section class="parallax" id="hero">
  <div class="parallax__body">
    <div class="parallax__container container">
      <div class="social-links">
        <p class="social-links__text">Follow us</p>
        <svg class="social-links__icon">
          <use href="./img/icons/symbol-defs.svg#icon-instagram"></use>
        </svg>
        <svg class="social-links__icon">
          <use href="./img/icons/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </div>
      <div>
        <p class="article__label">A Hiking guide</p>
        <h1 class="parallax__title">
          Be prepared for the <br />
          Mountains and beyond!
        </h1>
      </div>
    </div>
    <div class="parallax__images images-parallax">
      <div class="images-parallax__item">
        <div class="images-parallax__clouds"></div>
      </div>
      <div class="images-parallax__item">
        <div class="images-parallax__mountains"></div>
      </div>
      <div class="images-parallax__item">
        <div class="images-parallax__human"></div>
      </div>
      <div id="overlay">
        <img
          class="front-slide-top-image"
          src="./img/front-clouds/8.png"
          width="1200"
          height="670"
          alt="animated clouds"
        />
        <img
          class="front-slide-bottom-image"
          src="./img/front-clouds/2.png"
          width="1200"
          height="670"
          alt="animated clouds"
        />
      </div>
    </div>
  </div>
</section>
